.navbar{
    width: 100%; 
    height: 3667px; 
    position: relative; 
    background:white;
}
width: 437px; 
height: 74px; 
left: 0px; 
top: 0px; 
osition: absolute; 
background: white; 
border-radius: 20px;